@page "/checkout"
@inject HttpClient Http
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Net.Http.Headers
@using System.ComponentModel.DataAnnotations
@using static StorePresentation.Pages.Client.ShoppingCart

<PageTitle>Checkout</PageTitle>

<h2>Checkout</h2>

<th>Notificación: @notify</th>

<h2>Resumen de su orden</h2>
<br />
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Precio unitario</th>
            <th>Cantidad</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in products)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Image</td>
                <td>@product.Name</td>
                <td>₡@product.Price</td>
                <td>@product.Quantity</td>
                <td>₡@(product.Price * product.Quantity)</td>
            </tr>
        }
        <tr>
            <td colspan="5"><strong>Total de la orden:</strong></td>
            <td>₡@products.Sum(p => p.Price * p.Quantity)</td>
        </tr>
    </tbody>
</table>
<br />

<br />
<EditForm Model="@order" OnValidSubmit="PlaceOrder">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="address">Address:</label>
        <InputText id="address" class="form-control" @bind-Value="order.Address" />
        <ValidationMessage For="@(() => order.Address)" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Confirmar Orden</button>
</EditForm>

@code {
    private Order order = new Order("", 0, DateTime.Now, GlobalVariables.GetUserEmail());
    private string notify = "";
    private List<OrderItem> products = new List<OrderItem>();

    protected override async Task OnInitializedAsync()
    {
        await GetUpdatedOrder();
    }

    private async Task ShowNotification(string message)
    {
        notify = message;
        StateHasChanged();
        await Task.Delay(3000);
        notify = "";
        StateHasChanged();
    }

    public async Task GetUpdatedOrder()
    {
        var requestMessage = new HttpRequestMessage(HttpMethod.Get, "https://localhost:7143/Orders/" + GlobalVariables.GetUserEmail().Replace("@", "").Replace(".com", ""));
        requestMessage.Headers.Authorization = new AuthenticationHeaderValue("Bearer", GlobalVariables.GetUserToken());
        var response = await Http.SendAsync(requestMessage);

        if (response.IsSuccessStatusCode)
        {
            var updatedProducts = await response.Content.ReadFromJsonAsync<List<OrderItem>>();
            if (updatedProducts != null)
            {
                products = updatedProducts;
                await ShowNotification("Orden cargada.");
            }
            else
            {
                await ShowNotification("La orden actualizada está vacía.");
            }
        }
        else
        {
            await ShowNotification("Error obteniendo la orden.");
        }
    }

    public async Task PlaceOrder()
    {
        Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", GlobalVariables.GetUserToken());
        var response = await Http.PostAsJsonAsync("https://localhost:7143/Orders/" + GlobalVariables.GetUserEmail().Replace("@", "").Replace(".com", "") + "/checkOut", order);
        if (response.IsSuccessStatusCode)
        {     
            await ShowNotification("Orden completada.");

        }
        else
        {
            await ShowNotification("Error completando la orden.");
        }
        await GetUpdatedOrder();
        StateHasChanged();

    }

    public class Order
    {
        public string Address { get; set; }
        public double Total { get; set; }
        public DateTime Date { get; set; }
        public string Email { get; set; }

        public Order(string address, double total, DateTime date, string email)
        {
            Address = address;
            Total = total;
            Date = date;
            Email = email;
        }
    }

}
